In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
Data = pd.read_csv('imdb_movies.csv')
print(Data.to_string())
#Data.columns

1 با رسم جدول نشان دهید در هر سال چند فیلم سینمایی منتشر شده است؟

In [ ]:
movies_per_year = Data.groupby('release_year')['id'].count()
movies_per_year

2 با رسم نمودار روند تعداد فیلم های سینمایی انتشار یافته را نشان دهید.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
Data = pd.read_csv('imdb_movies.csv')
fig = plt.figure(figsize=(12, 8))


plt.scatter(Data['release_year'], Data['id'])


plt.title("Movie Duration by Year of Release")


plt.show()

طوالنی تر ین و کوتاهتر ین فیلم ثبت شده، کدام فیلم ها بوده است؟

In [ ]:
Data.isna().sum()
#movies_per_year = Data.groupby('runtime')['id'].count()
#print(movies_per_year.to_string())
#max_time = Data['runtime'].max()
#min_time = Data['runtime'].min()
#print(f"max time is {max_time} min time is {min_time}")

In [5]:
clean_data= Data[Data['runtime'] != 0]
max_time = clean_data.loc[clean_data['runtime'].idxmax()]
min_time = clean_data.loc[clean_data['runtime'].idxmin()]
print(f"max time is {max_time['original_title']} with {max_time['runtime']} minutes \nmin time is {min_time['original_title']} white {min_time['runtime']} minutes")

max time is The Story of Film: An Odyssey with 900 minutes
min time is Fresh Guacamole white 2 minutes

 میانگین طول فیلم های سینمایی در هر سال چند دقیقه بوده است؟ پاسخ را به ساعت و دقیقه نمایش 
دهید.

In [6]:
clean_of_runtime = Data[Data['runtime'] != 0]
ave_movies = clean_of_runtime.groupby('release_year')['runtime'].mean()
ave_movies_hours_minutes = ave_movies.apply(lambda x:'{:02}:{:02}'.format(int(x / 60), int(x % 60)))
ave_movies_hours_minutes

release_year
1960    01:50
1961    01:59
1962    02:04
1963    01:51
1964    01:49
1965    01:58
1966    01:46
1967    01:44
1968    01:47
1969    01:46
1970    01:52
1971    01:47
1972    01:41
1973    01:43
1974    01:45
1975    01:47
1976    01:49
1977    01:47
1978    01:50
1979    01:52
1980    01:47
1981    01:45
1982    01:43
1983    01:43
1984    01:43
1985    01:54
1986    01:39
1987    01:41
1988    01:41
1989    01:44
1990    01:45
1991    01:45
1992    01:47
1993    01:47
1994    01:46
1995    01:47
1996    01:45
1997    01:46
1998    01:45
1999    01:48
2000    01:44
2001    01:48
2002    01:47
2003    01:41
2004    01:45
2005    01:43
2006    01:41
2007    01:40
2008    01:40
2009    01:38
2010    01:38
2011    01:38
2012    01:38
2013    01:36
2014    01:38
2015    01:37
Name: runtime, dtype: object

5 طوالنی تر ین و کوتاهتر ین فیلم ثبت شده برای هر سال، کدام فیلم ها بوده است؟

In [ ]:
clean_of_runtime = Data[Data['runtime'] != 0]
longest_inyeares = clean_of_runtime.groupby('release_year')['runtime'].idxmax()
shortest_inYeares = clean_of_runtime.groupby('release_year')['runtime'].idxmin()
longest_moves = clean_of_runtime.loc[longest_inyeares]
shortest_moves= clean_of_runtime.loc[shortest_inYeares]
longest_moves[['original_title' ,'runtime','release_year']]
#shortest_moves[['original_title' ,'runtime','release_year']]

8 میانگین بودجه اختصاص یافته به فیلمها در طول تار یخ چه مقدار بوده است؟

In [8]:
clean_butge = Data[Data['budget'] !=0]
avarag_budget = clean_butge['budget'].mean()
print(f' avarage of budget in all years is : \t{avarag_budget}')

 avarage of budget in all years is : 	30739432.899226304

6 پنج فیلم برتر از نظر بیشتر ین تعداد رای دهنده کدام فیلم ها است؟

In [9]:
voitedf = Data[Data['vote_count'] != 0]
voitedf['vote_count'] = voitedf['vote_count'].astype(int)
top = voitedf.sort_values(by='vote_count',ascending=False).head(5)

top[['vote_count','original_title']]

      vote_count    original_title
1919        9767         Inception
4361        8903      The Avengers
1386        8458            Avatar
2875        8432   The Dark Knight
4364        7375  Django Unchained

7 پنج فیلم برتر از نظر نمره مخاطبین کدام فیلم ها است؟

In [10]:
happy_vote = Data[Data['vote_average'] != 0]
happy_vote['vote_average'] = happy_vote['vote_average'].astype(float)
top_happy = happy_vote.sort_values(by='vote_average' ,ascending=False).head(5)
top_happy[['vote_average','original_title']]

      vote_average                 original_title
3894           9.2  The Story of Film: An Odyssey
538            8.9           The Mask You Live In
2269           8.8                    Life Cycles
1200           8.8  Black Mirror: White Christmas
6911           8.7              Pink Floyd: Pulse

3 سود هر فیلم را محاسبه کنید. پر سودتر ین فیلم تار یخ چه فیلمی بوده است؟

In [11]:
clean_data =Data
clean_butge = clean_data[clean_data['budget']!=0]
clean_revenue = clean_data[clean_data['revenue'] !=0]
clean_data['profit'] = clean_revenue['revenue']-clean_butge['budget']
clean_data['profit'] = clean_data['profit'].astype(float)
top_prifit = clean_data.sort_values(by='profit',ascending=False).iloc[:1]
top_prifit[['profit','original_title']]

            profit original_title
1386  2.544506e+09         Avatar

9 میانگین درآمد اختصاص یافته به فیلم ها در طول تار یخ چه مقدار بوده است؟

In [12]:
import pandas as pd
import matplotlib.pyplot as plt
Data = pd.read_csv('imdb_movies.csv')
clean_butge = Data[Data['revenue'] !=0]
avarag_budget = clean_butge['revenue'].mean()
print(f' avarage of budget in all years is : \t{avarag_budget}')

 avarage of budget in all years is : 	89220658.32474227

3 میانگین طول فیلم های سینمایی در طول همه سالها بطور میانگین چه مقدار بوده است؟

In [13]:
runtime = Data[Data['runtime'] != 0]
avarag_runtime = runtime['runtime'].mean()
print(f' avarage of avarag_runtime in all years is : \t{round(avarag_runtime , 3)}')

 avarage of avarag_runtime in all years is : 	102.363

 پر سودتر ین فیلم هر سال، کدام فیلمها بوده است؟

In [15]:
import pandas as pd
import matplotlib.pyplot as plt
Data = pd.read_csv('imdb_movies.csv')
cleanData = Data[Data['budget'] !=0]
cleanData = cleanData[cleanData['revenue'] !=0]
group_BR =cleanData.groupby(['release_year'])[['revenue', 'budget']].sum()
group_BR['profit']=group_BR['revenue'] - group_BR['budget']
most_profit = group_BR.groupby('release_year')['profit'].idxmax()
result_df = group_BR.loc[most_profit]

# Reset index for a cleaner output
result_df.reset_index(inplace=True)

# Display the result
result_df[['release_year',  'profit']]

    release_year       profit
0           1960    108198052
1           1961    299083188
2           1962    166879846
3           1963    115411882
4           1964    294678387
5           1965    399281854
6           1966     52468689
7           1967    636334637
8           1968    168271762
9           1969    206862989
10          1970    454070023
11          1971    336284710
12          1972    457235917
13          1973   1057686099
14          1974    650582027
15          1975    808207270
16          1976    629426536
17          1977   1743308485
18          1978   1005100089
19          1979    950330150
20          1980   1002065664
21          1981   1320251458
22          1982   1811756359
23          1983   1505073842
24          1984   1833438131
25          1985   1666899046
26          1986   1665354869
27          1987   2148546726
28          1988   2313076703
29          1989   3603940908
30          1990   3454904971
31          1991   3048121485
32          1992   3873046070
33          1993   4575828325
34          1994   4704384415
35          1995   5608098320
36          1996   4736626727
37          1997   6380241248
38          1998   5274145395
39          1999   6433209130
40          2000   6110774823
41          2001   8022044875
42          2002   9004589344
43          2003   9202155213
44          2004   9822506642
45          2005   9259452998
46          2006   8726299999
47          2007  11686103667
48          2008  11843373159
49          2009  14069305071
50          2010  13312189037
51          2011  14966694704
52          2012  16596845507
53          2013  15782743325
54          2014  16676201357
55          2015  19032145273

کدام شرکت بیشترین فیلم را ساخته است؟

In [ ]:
newData = Data.dropna()
newData = newData['production_companies'].explode().value_counts()

plt.figure(figsize=(10, 6))
plt.bar(newData.index , newData.values)
plt.xlabel('production_companies')
plt.ylabel('Count')
plt.title('Abundance of production_companies')
plt.xticks(rotation=45, ha='right')
plt.tight_layout()
plt.show()

کدام ژانر بیشترین تعداد را دارد؟

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
Data = pd.read_csv('imdb_movies.csv')
newData = Data.dropna()
newData = newData['genres'].explode().value_counts()

plt.figure(figsize=(12, 6))
plt.bar(newData.index , newData.values )
plt.xlabel('Genres')
plt.ylabel('Count')
plt.title('Abundance of Genres')
plt.xticks(rotation=45, ha='right')
plt.tight_layout()
plt.show()

0 میانگین بودجه و درآمد اختصاص یافته در هر سال چه مقدار بوده است؟

In [ ]:
movie_df = Data[Data['budget']!=0]
movie_df = Data[Data['revenue']!=0]


average_df = movie_df.groupby('release_year').agg({'budget': 'mean', 'revenue': 'mean'})


average_df

 با استفاده از نمودار هیستوگرام، توز یع مدت زمان فیلم ها در طول تار یخ را بکشید.

In [ ]:
moves = Data[Data['runtime'] != 0]
plt.figure(figsize=(10, 6))  # Set the figure size
plt.hist(moves['runtime'], bins=10, color='skyblue', edgecolor='black', alpha=0.7)

# Add labels and title
plt.xlabel('runtime (minutes)')
plt.ylabel('Frequency')
plt.title('Distribution of Movie runtime')

# Show the plot
plt.grid(True)
plt.show()

ا پیدا کردن میانگی ن بودجه و درآمد برای هر سال، رابطه بین بودجه و درآمد را با استفاده از نمودار sca

In [ ]:
plt.figure(figsize=(10, 6))  

clean_data = Data[Data['budget'] !=0]
clean_data = Data[Data['revenue'] !=0]

plt.scatter(clean_data['budget'], clean_data['revenue'], color='b', alpha=0.7, edgecolors='k')


plt.xlabel('Budget')
plt.ylabel('revenue')
plt.title('Relationship between Budget and Income')


plt.grid(True)
plt.show()